server {
    listen 8080;
    server_name sanasormi.kuggo.org;

    root /var/www/html/sanasormi;
    index index.html;

    location /api/ {
        proxy_pass http://localhost:8000;
        proxy_set_header Host $host;
    }

    location / {
        try_files $uri $uri/ /index.html;
    }
}
